.body {
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
}
h1 {
    font-family: Arvo, sans-serif !important;
    font-size: 48px ;
    line-height: 60px;
    font-weight: 400;
}
.container-fluid .d-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 25%;
    grid-template-rows: 1fr 1fr 1fr 0.5fr;
    grid-template-areas:
        "items1 items1 items2 items2"
        "items3 items4 items5 items6"
        "items7 items8 items8 items6"
        "items9 items10 items11 items11";
}

.fs-50 {
    font-size: 48px !important;
}

.line-height-60 {
    line-height: 60px !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.items1 {
    grid-area: items1;
}

.items2 {
    grid-area: items2;
}

.items3 {
    grid-area: items3;
}

.items4 {
    grid-area: items4;
}

.items5 {
    grid-area: items5;
}

.items6 {
    grid-area: items6;
}

.items7 {
    grid-area: items7;
}

.items8 {
    grid-area: items8;
}

.items9 {
    grid-area: items9;
}

.items10 {
    grid-area: items10;
}

.items11 {
    grid-area: items11;
}

.bg-orange {
    background-color: #f05638;
}

.items4 img {
    width: 350px ;
    height: 150px;
    margin-bottom: -20px;
}

.pe-6 {
    padding-right: 50px !important;
}

.phone {
    width: 269px;
    height: 345px;
}

.keyboard {
    width: 319px;
    height: 164px;
    margin-left: 20px;
}

.mac {
    width: 450px;
    height: 164px;
    margin-left: -225px;
}

.text-secondary2 {
    color: #9fa3a7;
}

.grey-text {
    color: #9fa3a7;
    font-size: 14px;
}

.text-lightblue {
    color: #27b9c2;
}
.circle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 373px;
    height: 373px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    background-color: #8166b0;
}
.bg-WhitePurple{
    background-color: #8f76bc;
}
.bg-WhitePurple2{
    background-color: hsla(0, 0%, 100%, .08);
}
.fs-7{
    font-size: 0.875rem !important;
}
.fs-8{
    font-size: 0.765rem !important;
}
.bg-bluegreen{
    background-color: #93b6b7;
}
.items7 img{
    margin-left: -50px;
    width: 320px !important;
}
.image-5 {
    position: relative;
    left: -10%;
    width: 90%;
}
.minicaps {
    width: 102px;
    position: absolute;
    left: 39px;
    top: -32px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    background-color: #fa684f;
    color: #fff;
    font-size: 8px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}
.div-block-13 {
    width: 240px;
    height: 240px;
    padding-right: 34px;
    padding-left: 34px;
    background-color: #35cfed;
    margin-top: -20px;
}
.bg-info2{
    background-color: #38d5f4;
}
h3 {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    font-family: Arvo, sans-serif !important;
    font-size: 22px !important;
    line-height: 32px !important;
    font-weight: 400 !important;
}
.bg-lightgray{
    background-color: #f7f8f9;;
}
.minicaps2 {
    position: relative;
    background-color: #7bc424;
    color: #fff;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 8px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    width: 80px;
}
.heading-8 {
    width: 70%;
    text-align: center;
}
.image-6 {
    position: relative;
    left: -15%;
}
.heading-9 {
    width: 34%;
}
.div-block-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    padding-right: 5%;
    padding-left: 5%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #2c2c2c;
    color: #fff;
}
.heading-4 {
    display: block;
    max-width: 230px;
    margin-bottom: 0px;
}

.heading-3 {
    max-width: 550px;
}
.caps {
    font-family: Montserrat, sans-serif;
    color: #9fa3a7;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.div-block-9 {
    width: 33%;
}

.text-block-2 {
    width: 80%;
    max-width: 290px;
}

